---
import { getCollection } from "astro:content";
import DatedItem from "../DatedItem.astro";
import Section from "./Section.astro";

interface Props {
  title: string;
  collectionName: "education" | "resumeProjects" | "extracurriculars";
}
const { title, collectionName } = Astro.props;
const collection = await getCollection(collectionName);
---

<Section title={title}>
  {
    collection
      .sort((a, b) => a.data.position - b.data.position)
      .map((item) => (
        <DatedItem
          title={item.data.title}
          location={item.data.location}
          date={item.data.date}
          items={item.data.items}
        />
      ))
  }
</Section>
