---
import { allImages, transformImage } from "../../image";
import { Icon } from "astro-icon/components";
import Base from "../../layouts/Base.astro";

const DEFAULT_WIDTH = 1920;
const DEFAULT_HEIGHT = 1080;

export const getStaticPaths = async () => {
  const count = (await allImages()).length;
  return Array.from({ length: count }).map((_, index) => ({
    params: { id: index },
  }));
};

const images = (await allImages()).sort((a, b) =>
  new Date(a.date) < new Date(b.date) ? 1 : -1,
);

const index = Number(Astro.params.id);
const { name, width, height, date } = images[index];
const quarterPercent = transformImage(name, {
  width: (width || DEFAULT_WIDTH) * 0.25,
  height: (height || DEFAULT_HEIGHT) * 0.25,
  quality: 100,
});
const previous = Math.max(0, index - 1);
const next = Math.min(images.length - 1, index + 1);
---

<Base
  pageTitle={name}
  description={`${width}x${height} digital image captured on ${date}`}
  image={quarterPercent}
>
  <div class="text-center">
    <p class="text-subtext0">
      <a href="/gallery">Gallery</a>
      <Icon name="carbon:chevron-right" class="inline m-1" />
      {name}
    </p>
  </div>
  <div
    class="flex flex-col sm:flex-row flex-wrap justify-between mt-4 mb-5 gap-4"
  >
    <p
      class="text-mauve h-fit my-auto bg-mantle border-2 border-crust p-1 rounded-full hover:border-mauve"
    >
      <a
        id="previous"
        aria-label="Previous image"
        class="ignored-link webring-link"
        href={`/gallery/${previous}`}
      >
        <Icon
          name="mdi:keyboard-arrow-left"
          class="p-1 text-2xl block m-auto"
        />
      </a>
    </p>
    <div
      class="border-2 text-center flex-grow border-mantle bg-mantle rounded-lg p-3"
    >
      <p>{width}x{height}</p>
      <p>{date}</p>
      <a
        href={transformImage(name, {
          width: width || DEFAULT_WIDTH,
          height: height || DEFAULT_HEIGHT,
          quality: 100,
        })}
        target="_blank">View Original</a
      >
    </div>
    <p
      class="text-mauve h-fit my-auto bg-mantle border-2 border-crust p-1 rounded-full hover:border-mauve"
    >
      <a
        id="next"
        aria-label="Next image"
        class="ignored-link webring-link"
        href={`/gallery/${next}`}
      >
        <Icon
          name="mdi:keyboard-arrow-right"
          class="p-1 text-2xl block m-auto"
        />
      </a>
    </p>
  </div>
  <img
    class="rounded-lg my-2 mx-auto"
    src={quarterPercent}
    alt={name}
    width={(width || DEFAULT_WIDTH) * 0.25}
    height={(height || DEFAULT_HEIGHT) * 0.25}
  />
  <script>
    document.addEventListener("keydown", (ev) => {
      ev.preventDefault();
      if (ev.code === "ArrowLeft" || ev.code === "KeyH" || ev.code === "KeyA") {
        document.getElementById("previous")?.click();
      } else if (
        ev.code === "ArrowRight" ||
        ev.code === "KeyL" ||
        ev.code === "KeyD"
      ) {
        document.getElementById("next")?.click();
      }
    });
  </script>
</Base>
