---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import Base from "../../layouts/Base.astro";

const allPosts = (await getCollection("blog")).filter(
  (post) => !post.data.draft
);
---

<Base
  pageTitle="Blog"
  description="A collection of everything I've written online."
>
  <h1 class="text-3xl font-bold mt-3 mb-2">Blog</h1>
  <p class="mb-5">
    A collection of everything I've written online. Also available as an
    <a href="/rss.xml" class="text-blue">RSS feed</a>.
  </p>
  <ul class="space-y-3">
    {
      allPosts
        .sort((a, b) => (a.data.pubDate > b.data.pubDate ? 1 : -1))
        .reverse()
        .map((post) => (
          <li>
            <PostCard
              title={post.data.title}
              description={post.data.description}
              date={new Date(post.data.pubDate)}
              url={`/p/${post.slug}`}
              featured={post.data.featured}
              draft={post.data.draft}
            />
          </li>
        ))
    }
  </ul>
</Base>
