---
import Base from "../../layouts/Base.astro";
import PostCard from "../../components/PostCard.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Base pageTitle={`#${tag}`} description={`Posts tagged with #${tag}`}>
  <h1 class="text-3xl font-bold mt-3 mb-7">#{tag}</h1>
  <ul class="space-y-3">
    {
      posts
        .sort((a, b) => (a.data.pubDate > b.data.pubDate ? 1 : -1))
        .reverse()
        .map((post) => (
          <li>
            <PostCard
              title={post.data.title}
              description={post.data.description}
              date={new Date(post.data.pubDate)}
              url={`/p/${post.slug}`}
              featured={post.data.featured}
            />
          </li>
        ))
    }
  </ul>
</Base>
