---
import NodeCard from "../../components/NodeCard.astro";
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import { Icon } from "astro-icon/components";

interface Props {
  nodes: any[];
}

export async function getStaticPaths() {
  const allNodes = await getCollection("nodes");
  const uniqueTags = [
    ...new Set(
      allNodes
        .map((node) => node.data.tags)
        .flat()
        .filter((s) => typeof s !== "undefined"),
    ),
  ];
  return uniqueTags.map((tag) => {
    const filteredNodes = allNodes.filter((node) =>
      node.data.tags?.includes(tag),
    );
    return {
      params: { tag },
      props: { nodes: filteredNodes },
    };
  });
}

const { tag } = Astro.params;
const { nodes } = Astro.props;
const sortedNodes = nodes
  .sort((a, b) => (a.data.pubDate > b.data.pubDate ? 1 : -1))
  .reverse();
---

<Base pageTitle={`#${tag}`} description={`Nodes tagged with #${tag}`}>
  <div>
    <p class="text-subtext0">
      <a href="/tags">Tags</a>
      <Icon name="carbon:chevron-right" class="inline m-1" />
      {tag}
    </p>
  </div>
  <div class="border-t-2 border-t-lavender my-2"></div>
  <ul class="space-y-3">
    {
      sortedNodes.map((node) => (
        <li>
          <NodeCard
            title={node.data.title}
            description={node.data.description}
            date={node.data.pubDate ? new Date(node.data.pubDate) : undefined}
            url={`/node/${node.slug}`}
            featured={node.data.featured}
          />
        </li>
      ))
    }
  </ul>
</Base>
