---
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";
import Base from "../layouts/Base.astro";

const projects = await getCollection("projects");
---

<Base pageTitle="Projects" description="Some of my favorite work to date.">
  <h1 class="text-3xl font-bold mt-3 mb-2 font-serif">Projects</h1>
  <p class="mb-5">
    Some of my favorite work to date. For a formal look at my experiences, <a
      href="/resume">check out my resume</a
    >.
  </p>
  <ul class="space-y-5">
    {
      projects
        .sort((a, b) => (a.data.position < b.data.position ? 1 : -1))
        .map((project) => {
          return (
            <ProjectCard
              title={project.data.title}
              description={project.data.description}
              repo={project.data.repo}
              post={project.data.post}
              homepage={project.data.homepage}
            />
          );
        })
    }
  </ul>
</Base>
