---
import { Icon } from "astro-icon/components";
import Base from "../layouts/Base.astro";
import titleCase from "../titleCase";

interface Props {
  title: string;
  description: string;
  slug: string;
  items: any[];
}

const { title, description, items, slug } = Astro.props;
---

<Base pageTitle={title} description={description}>
  <div>
    <p class="text-subtext0">
      <a href="/collections">Collections</a>
      <Icon name="carbon:chevron-right" class="inline m-1" />
      {titleCase(slug)}
      <a href={`/in/${title.toLowerCase()}.xml`}>
        <Icon
          name="mdi:rss"
          class="text-peach inline mb-[1.1px] hover:text-maroon ml-1"
        />
      </a>
    </p>
  </div>
  <div class="border-t-2 border-t-lavender my-2"></div>
  <h1 class="text-3xl font-bold mb-2 flex flex-row flex-wrap gap-2"></h1>
  <p class="mb-5">
    {description}
  </p>
  {items.length === 0 && <p>Nothing here yet.</p>}
  <slot />
</Base>
