---
import { Icon } from "astro-icon/components";

const { title, description, url, post, homepage } = Astro.props;
---

<li class="rounded-3xl border-2 p-3">
  <h2 class="font-semibold">{title}</h2>
  <p class="text-subtext1">{description}</p>
  <ul class="mt-2 flex flex-row flex-wrap">
    <li>
      <a class="ignored-link" href={homepage} rel="noopener noreferrer">
        <Icon
          name="mdi:web"
          class="mr-2 text-4xl p-1 border-2 rounded-full border-mantle hover:border-blue transition-all duration-200 ease-in-out"
        />
      </a>
    </li>
    <li>
      <a class="ignored-link" href={post} rel="noopener noreferrer">
        <Icon
          name="mdi:journal"
          class="mr-2 text-4xl p-1 border-2 rounded-full border-mantle hover:border-blue transition-all duration-200 ease-in-out"
        />
      </a>
    </li>
    <li>
      <a class="ignored-link" href={url} rel="noopener noreferrer">
        <Icon
          name="carbon:logo-github"
          class="mr-2 text-4xl p-1 border-2 rounded-full border-mantle hover:border-blue transition-all duration-200 ease-in-out"
        />
      </a>
    </li>
  </ul>
</li>
