---
import { Icon } from "astro-icon/components";

const { title, description, repo, post, homepage } = Astro.props;
---

<li class="rounded-3xl border-2 p-3 border-mantle">
  <h2 class="font-semibold">{title}</h2>
  <p class="text-subtext1">{description}</p>
  <ul class="mt-2 flex flex-row flex-wrap">
    {
      homepage && (
        <li>
          <a class="ignored-link" href={homepage} rel="noopener noreferrer">
            <Icon
              name="mdi:web"
              class="mr-2 text-4xl p-1 border-2 rounded-full border-mantle hover:border-blue"
            />
          </a>
        </li>
      )
    }
    {
      post && (
        <li>
          <a class="ignored-link" href={post} rel="noopener noreferrer">
            <Icon
              name="mdi:journal"
              class="mr-2 text-4xl p-1 border-2 rounded-full border-mantle hover:border-blue"
            />
          </a>
        </li>
      )
    }
    <li>
      <a class="ignored-link" href={repo} rel="noopener noreferrer">
        <Icon
          name="carbon:logo-github"
          class="mr-2 text-4xl p-1 border-2 rounded-full border-mantle hover:border-blue"
        />
      </a>
    </li>
  </ul>
</li>
