---
import { webring } from "../../data/config.json";
import { Icon } from "astro-icon/components";
---

<nav class="text-sm flex flex-wrap justify-center">
  <a
    aria-label="Previous webring site"
    class="ignored-link webring-link"
    href={`${webring.root}/${webring.slug}/previous`}
  >
    <Icon name="mdi:keyboard-arrow-left" class="p-1 text-2xl" />
  </a>
  <a
    aria-label="Webring site list"
    class="ignored-link webring-link"
    href={webring.root}
  >
    <Icon name="mdi:ring" class="p-1 text-2xl" />
  </a>
  <a
    aria-label="Next webring site"
    class="ignored-link webring-link"
    href={`${webring.root}/${webring.slug}/next`}
  >
    <Icon name="mdi:keyboard-arrow-right" class="p-1 text-2xl" />
  </a>
</nav>
<style>
  .webring-link {
    @apply mr-3 mb-2 text-lavender bg-mantle rounded-full px-2 py-1 border-2 border-crust hover:border-lavender;
  }
</style>
