---
import { getCollection } from "astro:content";
import PostCard from "../../../components/PostCard.astro";
import Base from "../../../layouts/Base.astro";

const draftPosts = (await getCollection("blog")).filter(
  (post) => post.data.draft
);
---

<Base
  pageTitle="Drafts"
  description="As-yet unpublished writings and post ideas."
>
  <h1 class="text-3xl font-bold mb-2">
    <a href="/collections">../</a><a href="/blog">blog/</a>drafts
  </h1>
  <p class="mb-5">As-yet unpublished writings and post ideas.</p>
  {draftPosts.length === 0 && <p>Nothing here yet.</p>}
  <ul class="space-y-3">
    {
      draftPosts
        .sort((a, b) => (a.data.pubDate > b.data.pubDate ? 1 : -1))
        .reverse()
        .map((post) => (
          <li>
            <PostCard
              title={post.data.title}
              description={post.data.description}
              date={new Date(post.data.pubDate)}
              url={`/p/${post.slug}`}
              featured={post.data.featured}
              draft={post.data.draft}
            />
          </li>
        ))
    }
  </ul>
</Base>
