---
import "@fontsource/inclusive-sans";
import "@fontsource/recursive";
import "@fontsource/crimson-pro";
import Footer from "../components/footer/Footer.astro";
import Navigation from "../components/Navigation.astro";
import Styles from "../components/style/Styles.astro";
import OpenGraph from "../components/OpenGraph.astro";
import CssNakedDay from "../components/style/CssNakedDay.astro";

const { pageTitle, description, image } = Astro.props;
const BASE_URL = "https://sydneyn.dev";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="me" href="https://mastodon.social/@cecelot" />
    <meta name="theme-color" content="#ea76cb" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={`${BASE_URL}${Astro.url.pathname}`} />
    <script
      defer
      is:inline
      src="https://cloud.umami.is/script.js"
      data-website-id="5ba07c82-f9f0-4d43-8288-d2f81b8242b7"></script>
    <title>
      {
        pageTitle !== "Sydney Newmark"
          ? `${pageTitle} • Sydney Newmark`
          : pageTitle
      }
    </title>
    <OpenGraph
      siteName="sydneyn.dev"
      title={pageTitle}
      description={description}
      type="article"
      url={Astro.url.toString()}
      image={image}
    />
  </head>
  <body class="latte dark:macchiato bg-base text-text max-w-screen-md mx-auto">
    <CssNakedDay />
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
    <Styles />
  </body>
</html>
