---
import "@fontsource/inclusive-sans";
import "@fontsource/recursive";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import Styles from "../components/Styles.astro";
import OpenGraph from "../components/OpenGraph.astro";
const { pageTitle, description, image } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="theme-color" content="#ea76cb" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script
      defer
      is:inline
      src="https://cloud.umami.is/script.js"
      data-website-id="5ba07c82-f9f0-4d43-8288-d2f81b8242b7"></script>
    <title>{pageTitle} · alainacn.dev</title>
    <OpenGraph
      siteName="alainacn.dev"
      title={pageTitle || "alainacn.dev"}
      description={description}
      type="article"
      url={Astro.url.toString()}
      image={image}
    />
  </head>
  <body
    class="latte dark:frappe bg-base text-text max-w-screen-md mt-8 mx-auto p-5 pl-6"
  >
    <Navigation />
    <slot />
    <Footer />
    <Styles />
  </body>
</html>
