---
import {
  baseUrl,
  domain,
  socials,
  analytics,
  fullName,
} from "../../data/config.json";
import CssNakedDay from "../components/CssNakedDay.astro";
import Navigation from "../components/Navigation.astro";
import OpenGraph from "../components/OpenGraph.astro";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Styles from "../components/Styles.astro";
import "@fontsource/inclusive-sans";
import "@fontsource/recursive";

interface Props {
  pageTitle: string;
  description: string;
  image?: string;
}

const { pageTitle, description, image } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="me" href={socials.mastodon} />
    <meta name="theme-color" content="#ea76cb" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={`${baseUrl}${Astro.url.pathname}`} />
    <link
      href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css"
      rel="stylesheet"
    />
    <script
      defer
      is:inline
      src="https://cloud.umami.is/script.js"
      data-website-id={analytics.websiteId}></script>
    <title>
      {pageTitle !== fullName ? `${pageTitle} • ${fullName}` : pageTitle}
    </title>
    <OpenGraph
      siteName={domain}
      title={pageTitle}
      description={description}
      type="article"
      url={Astro.url.toString()}
      image={image}
    />
    <ViewTransitions transition:animate="slide" />
  </head>
  <body
    class="latte dark:mocha bg-base text-text max-w-screen-md mt-8 mx-auto p-5 pl-6"
  >
    <CssNakedDay />
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
    <Styles />
  </body>
</html>
