---
import { Icon } from "astro-icon/components";
import TagArray from "../components/TagArray.astro";
import Base from "./Base.astro";
import titleCase from "../titleCase";

const { frontmatter } = Astro.props;
---

<Base pageTitle={frontmatter.title} description={frontmatter.description}>
  <div>
    <p class="text-subtext1">
      <a href="/collections">Collections</a>
      <Icon name="carbon:chevron-right" class="inline m-1 text-overlay0" />
      <a href={`/in/${frontmatter.collection}`}
        >{titleCase(frontmatter.collection)}</a
      >
      <Icon name="carbon:chevron-right" class="inline m-1 text-overlay0" />
      {frontmatter.title}
    </p>
  </div>
  {frontmatter.description && <p class="my-2">{frontmatter.description}</p>}
  <article class="prose lg:prose-lg leading-6 mt-4">
    <slot />
  </article>
  <TagArray tags={frontmatter.tags} />
</Base>
