---
import type { Props } from "../types";
import Base from "./Base.astro";
const { frontmatter } = Astro.props;
---

<Base pageTitle={frontmatter.title}>
  <h1 class="post-title">{frontmatter.title}</h1>
  <h4 class="post-description mb-3 mt-1">
    {frontmatter.description}
  </h4>
  <span class="flex space-x-1 text-subtext1">
    <p>{new Date(frontmatter.pubDate).toDateString()}</p>
    <p>•</p>
    <p>{frontmatter.readingTime} minute read</p>
  </span>
  <article class="leading-6 mt-10">
    <slot />
  </article>
  <div class="mt-5 space-x-3">
    {
      frontmatter.tags.map((tag) => (
        <a
          class="tag-foot bg-base p-2 mx-auto rounded-lg hover:bg-crust"
          href={`/tags/${tag}`}
        >
          #{tag}
        </a>
      ))
    }
  </div>
</Base>
<style>
  .tag-foot {
    @apply text-text no-underline hover:text-text;
  }
</style>
