---
import type { Props } from "../types";
import Base from "./Base.astro";
const { frontmatter } = Astro.props;
let pathname = new URL(Astro.url).pathname;
if (pathname.endsWith("/")) {
  pathname = pathname.slice(0, -1);
}
const editLink = `https://github.com/alythical/alainacn.dev/edit/main/src/pages${pathname}.md`;
---

<Base pageTitle={frontmatter.title} description={frontmatter.description}>
  <h1 class="text-4xl lg:text-5xl font-black">{frontmatter.title}</h1>
  <h4 class="text-md lg:text-xl font-semibold mb-3 mt-2">
    {frontmatter.description}
  </h4>
  <span class="flex space-x-1 font-light">
    <p>{new Date(frontmatter.pubDate).toDateString()}</p>
    <p>•</p>
    <p>{frontmatter.minutesRead}</p>
  </span>
  <article class="prose lg:prose-lg leading-6 mt-5">
    <slot />
  </article>
  <div class="my-5 space-x-3">
    {
      frontmatter.tags.map((tag) => (
        <a
          class="tag-foot bg-mantle p-2 mx-auto rounded-lg hover:bg-crust transition-all"
          href={`/tags/${tag}`}
        >
          #{tag}
        </a>
      ))
    }
  </div>
  <div class="text-xs">
    <a
      class="suggest-edit text-subtext0 hover:text-subtext1 hover:underline"
      href={editLink}
      >✎ Edit on GitHub
    </a>
  </div>
</Base>
<style>
  .tag-foot {
    @apply text-text no-underline hover:text-text;
  }
</style>
