---
import profilePicture from "../images/profilePicture.jpeg";
import { socials, fullName } from "../../data/config.json";
import TagArray from "../components/TagArray.astro";
import { format } from "date-format-parse";
import { Image } from "astro:assets";
import Base from "./Base.astro";
import { Icon } from "astro-icon/components";
import titleCase from "../titleCase";

const { frontmatter } = Astro.props;

let pathname = new URL(Astro.url).pathname.replace("/node/", "").trim();
if (pathname.endsWith("/")) {
  pathname = pathname.slice(0, -1);
}

const editLink = `${socials.github}/site/edit/main/src/content/nodes/${pathname}.mdx`;
---

<Base pageTitle={frontmatter.title} description={frontmatter.description}>
  <section class="space-y-2 mb-4">
    <div>
      <p class="text-subtext0">
        <a href="/collections">Collections</a>
        <Icon name="carbon:chevron-right" class="inline m-1" />
        <a href={`/in/${frontmatter.collection}`}
          >{titleCase(frontmatter.collection)}</a
        >
        <Icon name="carbon:chevron-right" class="inline m-1" />
        {frontmatter.title}
      </p>
    </div>
    <div class="border-t-2 border-t-lavender my-2"></div>
    <h1 class="text-4xl font-serif lg:text-5xl font-bold">
      {frontmatter.title}
    </h1>
    <h2 class="text-lg lg:text-xl font-medium text-subtext1">
      {frontmatter.description}
    </h2>
    <span class="flex flex-wrap font-light text-subtext0 gap-2">
      <Image
        class="inline w-10 h-10 rounded-full my-auto"
        width="64"
        height="64"
        src={profilePicture}
        alt="A tinted purple rose"
      />
      <span>
        <p>{fullName}</p>
        <div class="space-x-[2px]">
          <span>
            {format(new Date(frontmatter.pubDate), "DD MMM YYYY")}
          </span>
          <span>•</span>
          <span>{frontmatter.minutesRead}</span>
        </div>
      </span>
    </span>
  </section>
  <article class="prose lg:prose-lg leading-6">
    <slot />
  </article>
  <TagArray tags={frontmatter.tags} />
  <a
    class="ignored-link text-xs text-subtext0 hover:text-subtext1 underline"
    href={editLink}
    >✎ Edit on GitHub
  </a>
</Base>
<style>
  .tag-foot {
    @apply text-text no-underline hover:text-text;
  }

  .sr-only {
    @apply hidden;
  }
</style>
